@use "@ingka/variables/style.scss" as *;

.dashboard {
  &__container {
    padding: $space-400;
  }

  &__filter-bar {
    display: flex;
    align-items: center;
    margin-bottom: $space-200;
    gap: $space-100;
  }

  &__content {
    padding-top: $space-100;
    display: flex;
    gap: $space-150;
  }

  &__table {
    flex-basis: 40%;
  }

  &__charts {
    flex-basis: 60%;
  }
}

.title {
  margin-bottom: $space-200;
}

.filter {
  position: relative;
  text-transform: capitalize;

  &__dropdown {
    position: absolute;
    z-index: 5000;
    background-color: $colour-neutral-1;
    min-width: 300px;
    box-shadow: 1px 3px 8px 0px;
    border-radius: 0.75rem;
    padding: $space-200;
  }
}

.date-range {
  min-width: 234px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $colour-interactive-secondary-bg-default;
  border-radius: $radius-cap;
  border: $thickness-thick solid transparent;

  &--selected {
    border-color: $colour-interactive-subtle-border-selected;
  }
}

.table {
  &__header-button {
    &:hover {
      & svg {
        color: $colour-interactive-secondary-bg-hover;
      }
    }

    &__sorting-icon {
      color: transparent;

      &--active {
        color: currentColor;
      }

      &--rotated {
        transform: rotate(180deg);
      }
    }
  }
}

.sorting-icon {
  color: transparent;

  &--active {
    color: currentColor;
  }

  &--rotated {
    transform: rotate(180deg);
  }
}

.pagination {
  &__controls {
    margin-top: $space-200;
    display: flex;
    justify-content: center;
    gap: $space-100;
  }

  &__page-numbers {
    display: flex;
    gap: $space-50;

    & > button:hover {
      color: $colour-interactive-secondary-bg-hover;
    }
  }

  &__info {
    margin-top: $space-200;
    text-align: center;
  }
}

.font-normal {
  font-weight: normal;
}
